.w-100{
    width: 100%;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .match-parent {
    width: 100%;
    height: calc( 100vh - 64px);
  }
  mat-toolbar{
    padding: 0;
  }
  .marker {
    background-image: url('src/assets/images/location.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }
  ::ng-deep .mapboxgl-canvas{
    width: 100%!important;
  }
  .mapboxgl-popup {
    max-width: 200px;
    }
    .mapboxgl-popup-content {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    }
    .font-size{
        font-size: 16px;
        margin-top:15px;
    }